{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}"/>

    <style>
        body {
            background-image: url({% static 'user/img/landscape.jpg' %});
            background-size: cover;
        }
    </style>
</head>

<body>
    <form action="/user/login/" method="post">
        <div id="main">
            <h1>欢迎登录影评系统</h1>
            <p class="register" style="font-size: 15px;">没有账号？<a href="/user/signup/" style="font-size: 15px;">注册</a></p>
                    <p class="p1">
                        用户名:<input type="text" id="username" placeholder="请输入用户名" class="inp0"
                            style="font-size: 15px;">
                    </p>
                    <p class="p1">
                        密&emsp;码:<input type="password" id="password" placeholder="请输入密码" class="inp0"
                            style="font-size: 15px;">
                    </p>
                    <p class="p1">

                        <button type="submit" id="submitBtn" class="login_disable" disabled>登录</button>

                    </p>
                    <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tip }} </span>
                    <span2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tip2 }} </span2>
        </div>
    </form>
</body>

<script>
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const submitBtn = document.getElementById('submitBtn');
    function updateButtonState() {
        if (usernameInput.value && passwordInput.value) {
            submitBtn.classList.remove('login_disable');
            submitBtn.classList.add('login_enable');
        } else {
            submitBtn.classList.remove('login_enable');
            submitBtn.classList.add('login_disable');
        }
    }
    usernameInput.addEventListener('input', updateButtonState);
    passwordInput.addEventListener('input', updateButtonState);
</script>

</html>