{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ user.username }} 的主页</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'user/css/home.css' %}"/>

</head>
<body>
    <div class="hobbies">
        <div class="stars"></div>
        <h3 class="hobbies_tit">Love is the one thing that transcends time and space</h3>
        <h3 class="titles">欢迎来到 {{ user.username }} 的主页！</h3>
        <img class="hobbies_bgc" src={% static "user/img/3.webp"%} alt="">

        <div class='ribbon'>
            {% if username is None%}
                <a href='{% url 'user_home' user.id %}'><span>首页</span></a>
                <a href= '{% url 'user_myspace' user.id %}'><span>我的主页</span></a>
                <a href='/user/login'><span>退出登录</span></a>
            {% endif %}
        </div>
        <!-- 电影列表 -->
        <div class="container" >
            <strong>
                <p style="color: white; text-align: center; margin-top: 0px; font-size: 35px;">
                    我的收藏
                </p>
            </strong>
            <div class="row">
                {% for movie in movies %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="movie-item" style="color: white;">
                            <img src="{{ movie.photo.url }}" alt="{{ movie.moviename }}" class="img-responsive">
                            <h3><a href={%url "user_movie" user.id movie.id%} style="color: white;">{{ movie.moviename }}</a></h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- 用户评论 -->
        <strong>
            <p style="color: white; text-align: center; margin-top: 20px; font-size: 35px;">
                我的评论
            </p>
        </strong>
        <div class="movie-reviews" style="color: white; text-align: center; ">
            {% for review in reviews %}
                <div class="review" style="text-align: left; margin-left: auto; margin-right: auto; max-width: 70%; margin-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding-bottom: 15px;">
                    <p style="font-size: 23px;"><strong style="color: white;">{{ review.movie.moviename }}</strong> 评分:
                    {% with '12345' as stars %}
                        {% for i in stars %}
                            {% if forloop.counter <= review.rating %}
                                <i class="fa fa-star" style="color: gold;"></i>  {# 显示实心星星 #}
                            {% else %}
                                <i class="fa fa-star" style="color: darkgrey;"></i>  {# 显示空心星星 #}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    </p>
                    <p style="color: white; font-size: 20px;">{{ review.comment }}</p>
                </div>
                {% empty %}
                <p style="color: white; font-size: 20px;">还没有评论。</p>
            {% endfor %}
        </div>
    </div>
</body>

<script rel="script" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script rel="script" src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</html>